.checkbox {
        -fx-pref-height: 15px;
        -fx-pref-width: 15px;
        -fx-background-image: url(../images/checkbox-unticked.png);
        -fx-background-size: 15px 15px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.checkbox:hover {
        -fx-pref-height: 16px;
        -fx-pref-width: 16px;
        -fx-background-image: url(../images/checkbox-unticked.png);
        -fx-background-size: 16px 16px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.checkbox:selected {
        -fx-pref-height: 15px;
        -fx-pref-width: 15px;
        -fx-background-image: url(../images/checkbox-ticked.png);
        -fx-background-size: 15px 15px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.checkbox:selected:hover {
        -fx-pref-height: 16px;
        -fx-pref-width: 16px;
        -fx-background-image: url(../images/checkbox-ticked.png);
        -fx-background-size: 16px 16px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.larger-checkbox {
        -fx-pref-height: 17px;
        -fx-pref-width: 17px;
        -fx-background-image: url(../images/checkbox-unticked.png);
        -fx-background-size: 17px 17px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.larger-checkbox:hover {
        -fx-pref-height: 18px;
        -fx-pref-width: 18px;
        -fx-background-image: url(../images/checkbox-unticked.png);
        -fx-background-size: 18px 18px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.larger-checkbox:selected {
        -fx-pref-height: 17px;
        -fx-pref-width: 17px;
        -fx-background-image: url(../images/checkbox-ticked.png);
        -fx-background-size: 17px 17px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}

.larger-checkbox:selected:hover {
        -fx-pref-height: 18px;
        -fx-pref-width: 18px;
        -fx-background-image: url(../images/checkbox-ticked.png);
        -fx-background-size: 18px 18px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent
}
