.delete-button {
        -fx-background-image: url(../images/delete-button.png);
        -fx-background-size: 15px 15px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent;

}

.delete-button:hover {
        -fx-background-image: url(../images/delete-button.png);
        -fx-background-size: 17px 17px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent;
}

