.move-button {
        -fx-background-image: url(../images/move-button.png);
        -fx-background-size: 12px 15px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent;

}

.move-button:hover {
        -fx-background-image: url(../images/move-button.png);
        -fx-background-size: 14px 17px;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-color: transparent;
}

