.label-header {
        -fx-font-size: 12pt;
        -fx-font-family: "Helvetica";
        -fx-text-fill: slategray;
        -fx-opacity: 1;
}

.box-layout {
        -fx-padding: 5;
        -fx-border-color: slategray;
        -fx-border-width: 2px;
}

/*
Taken from https://stackoverflow.com/questions/48426831/javafx-padding-line
*/
.horizontal-line {
        -fx-background-color: slategray;
        -fx-background-insets: 2 0 2 0;

        -fx-padding: 3 0 2 0;
}
